.content {
    padding: 0;
}
.wrapper {
    margin: 0 auto;
    width: auto;
    max-width: 970px;
}
.footer {
    padding: 0;
}
.header {
    padding: 10px 0;
    text-align: center;
    &__title {
        padding: 0;
    }
}