.search {
    padding: 0px;
}
.citySearch {
    display: flex;
    justify-content: center;
}
.city-search__form {
    padding: 10px;
}
.form__input {
    margin-bottom: 10px;
}
.city-search__submit {
    position: relative;
}
.btn {
    padding: 5px 12px;
    border: 2px solid #ccc;
}