.search {
    padding: 0px;
}

.citySearch {
    display: flex;
    justify-content: center;
    // box-shadow: 2px 3px 7px RGBA(0, 0 190, 0.9);
}
.city-search__form {
    padding: 10px;
}
.form__input {
    margin-bottom: 10px;
}
.city-search__submit {
    position: relative;
}
.btn {
    padding: 5px 12px;
    border: 2px solid #ccc;
}