.login {
    &__container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__action {
        width: 290px;
    }
    &__field {
        width: 290px;
        margin-bottom: 20px;
    }
    &__label {
        margin-bottom: 20px;
        text-align: center;
        line-height: 30px;
    }
}

